go 1.22

use (
	./ModalFileManager
	./wailsterm
	./benchmarks
	./debme
	./devtime
	./echo-server
	./ecom-api
	./ellie/elliecode
	./ellie
	./go-qrcode
	./godump
	./goofer/examples/advanced_queries
	./goofer/examples/basic
	./goofer/examples/bulk_operations
	./goofer/examples/cli_app
	./goofer/examples/client
	./goofer/examples/custom_queries
	./goofer/examples/hooks
	./goofer/examples/introspection
	./goofer/examples/migrations
	./goofer/examples/mysql
	./goofer/examples/postgres
	./goofer/examples/relationships
	./goofer/examples/repository_pattern/with_config
	./goofer/examples/repository_pattern/with_engine
	./goofer/examples/repository_pattern/without_engine
	./goofer/examples/simple_cli
	./goofer/examples/soft_delete
	./goofer/examples/todo
	./goofer/examples/validation
	./goofer
	./goofer/templates/client
	./gooferPrisma
	./gooferPrisma/test/integration
	./imgshift/cli
	./imgshift
	./kancli
	./mdcli
	./medquebackend
	./monkey-lang
	./notify-africa-go
	./Nuru
	./practice
	./qouteswidget
	./smartrun
	./tripwire
	./vertex
	./whatscli
)
